#calculator{
  background-color: yellow;
  width: 400px;
  height: 280px;
  color: blue;
  padding: 50px;
  padding-left: 70px;
  padding-top: 40px;
  border-style: none;
  border-radius: 25px;
  margin: auto;
  margin-top: 50px;
}
h2{
  font-style: oblique;
  text-align: center;
  font-size: 40;
  color: red;
  
}
input{
  float: right;
  clear: both;
  width: 300px;
  height: 30px;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
}
p{
  font-size: 19;
  font-size-adjust: auto;
  
}
#addup{
  background-color: #cc0000;
  border-style: none;
  border-radius: 10px;
  width: 220px;
  height: 45px;
  font-size: 30px;
  color: #fff;
  margin-right: 40px;
}
#percentage{
  color: #cd5c5c;
}
body{
  background-color: black;
}